<!DOCTYPE html>
html
    head
        - var page = { title: 'Баланс - Продажи' }
        include inc/head.pug 
    body
        include inc/header.pug
        main
            include inc/customer-control/personal-info.pug
        include inc/footer.pug
        include inc/scripts.pug