<!DOCTYPE html>
html
    head
        - var page = { title: 'Моё обучение' }
        include inc/head.pug 
    body
        include inc/header.pug
        main
            include inc/customer-control/my-education.pug
        include inc/footer.pug
        include inc/scripts.pug