<!DOCTYPE html>
html
    head
        - var page = { title: 'Мои курсы' }
        include inc/head.pug 
    body
        include inc/header.pug
        main
            include inc/teacher-control/my-courses.pug
        include inc/footer.pug
        include inc/scripts.pug