<!DOCTYPE html>
html
    head
        - var page = { title: 'Личный кабинет преподавателя' }
        include inc/head.pug 
    body
        include inc/header.pug
        main
            include inc/teacher-control/personal-info
        include inc/footer.pug
        include inc/scripts.pug