<!DOCTYPE html>
html
    head
        - var page = { title: 'Баланс - История' }
        include inc/head.pug 
    body
        include inc/header.pug
        main
            include inc/teacher-control/balance-history.pug
        include inc/footer.pug
        include inc/scripts.pug