section 
    .container 
        .teacher-control.teacher-control-messages
            include ../customer-control-nav/nav.pug
            .teacher-control__content
                .teacher-control-messages__header 
                    h2 Сообщения
                    ul.c_nav 
                        li.active 
                            a(href="#") Все
                        li 
                            a(href="#") Входящие
                        li 
                            a(href="#") Отправленные
                .teacher-control-messages__body 
                    .teacher-control-messages__body-row 
                        .teacher-control-messages__body-col 
                            .teacher-control-messages__body-col-item
                                span Дата
                            .teacher-control-messages__body-col-item
                                span От кого
                        .teacher-control-messages__body-col
                            .teacher-control-messages__body-col-item--fluid
                                span Тема
                    .teacher-control-messages__body-row.teacher-control-messages__body-row-main.teacher-control-messages__body-row-main--active
                        .teacher-control-messages__body-col 
                            .teacher-control-messages__body-col-item
                                span 
                                    | 20:15 
                                    br
                                    | 12.10.2020
                            .teacher-control-messages__body-col-item
                                .teacher-control-messages__payeer 
                                    .teacher-control-messages__payeer-img 
                                        img(src="img/Example-1.png", alt="")
                                    span.teacher-control-messages__payeer-name 
                                        | Денис 
                                        br
                                        | Грушевский
                        .teacher-control-messages__body-col
                            .teacher-control-messages__body-col-item--fluid
                                span HTML5, CSS и JavaScript для начинающих
                    .teacher-control-messages__body-row.teacher-control-messages__body-row-main.teacher-control-messages__body-row-main--active
                        .teacher-control-messages__body-col 
                            .teacher-control-messages__body-col-item
                                span 
                                    | 20:15 
                                    br
                                    | 12.10.2020
                            .teacher-control-messages__body-col-item
                                .teacher-control-messages__payeer 
                                    .teacher-control-messages__payeer-img 
                                        img(src="img/Example-1.png", alt="")
                                    span.teacher-control-messages__payeer-name 
                                        | Денис 
                                        br
                                        | Грушевский
                        .teacher-control-messages__body-col
                            .teacher-control-messages__body-col-item--fluid
                                span HTML5, CSS и JavaScript для начинающих
                    .teacher-control-messages__body-row.teacher-control-messages__body-row-main.teacher-control-messages__body-row-main--active
                        .teacher-control-messages__body-col 
                            .teacher-control-messages__body-col-item
                                span 
                                    | 20:15 
                                    br
                                    | 12.10.2020
                            .teacher-control-messages__body-col-item
                                .teacher-control-messages__payeer 
                                    .teacher-control-messages__payeer-img 
                                        img(src="img/Example-1.png", alt="")
                                    span.teacher-control-messages__payeer-name 
                                        | Денис 
                                        br
                                        | Грушевский
                        .teacher-control-messages__body-col
                            .teacher-control-messages__body-col-item--fluid
                                span HTML5, CSS и JavaScript для начинающих
                    .teacher-control-messages__body-row.teacher-control-messages__body-row-main
                        .teacher-control-messages__body-col 
                            .teacher-control-messages__body-col-item
                                span 
                                    | 20:15 
                                    br
                                    | 12.10.2020
                            .teacher-control-messages__body-col-item
                                .teacher-control-messages__payeer 
                                    .teacher-control-messages__payeer-img 
                                        img(src="img/Example-1.png", alt="")
                                    span.teacher-control-messages__payeer-name 
                                        | Денис 
                                        br
                                        | Грушевский
                        .teacher-control-messages__body-col
                            .teacher-control-messages__body-col-item--fluid
                                span HTML5, CSS и JavaScript для начинающих
                    .teacher-control-messages__body-row.teacher-control-messages__body-row-main
                        .teacher-control-messages__body-col 
                            .teacher-control-messages__body-col-item
                                span 
                                    | 20:15 
                                    br
                                    | 12.10.2020
                            .teacher-control-messages__body-col-item
                                .teacher-control-messages__payeer 
                                    .teacher-control-messages__payeer-img 
                                        img(src="img/Example-1.png", alt="")
                                    span.teacher-control-messages__payeer-name 
                                        | Денис 
                                        br
                                        | Грушевский
                        .teacher-control-messages__body-col
                            .teacher-control-messages__body-col-item--fluid
                                span HTML5, CSS и JavaScript для начинающих
                .teacher-control-messages__footer 
                    .pagination 
                        ul 
                            li 
                                a(href="#").page_prev.disabled
                            li 
                                a(href="#") 1
                            li 
                                a(href="#") 2
                            li 
                                a(href="#") 3
                            li 
                                a(href="#") ...
                            li 
                                a(href="#") 7
                            li   
                                a(href="#").page_next
                