.teacher-control__nav
                .teacher-control__header 
                    .teacher-control__header-img 
                        img(src="img/teacher-control/teacher-avatar.png", alt="",)
                    h2.teacher-control__header-name
                        | Приходько
                        br
                        | Владимир
                nav.teacher-control__nav-block 
                    ul.teacher-control__nav-list
                        li.teacher-control__nav-list-item
                            a(href="#").teacher-control__nav-list-item-link.teacher-control__nav-list-item-link--active Личные данные
                        li.teacher-control__nav-list-item
                            a(href="#").teacher-control__nav-list-item-link Мои курсы
                        li.teacher-control__nav-list-item
                            a(href="#").teacher-control__nav-list-item-link Избранное
                        li.teacher-control__nav-list-item
                            a(href="#").teacher-control__nav-list-item-link Баланс
                        li.teacher-control__nav-list-item
                            a(href="#").teacher-control__nav-list-item-link Сообщения
                        li.teacher-control__nav-list-item
                            a(href="#").teacher-control__nav-list-item-link Справка и поддержка
                        li.teacher-control__nav-list-item
                            a(href="#").teacher-control__nav-list-item-link Безопасность
                        li.teacher-control__nav-list-item
                            a(href="#").teacher-control__nav-list-item-link Выйти