.customer-security
    .customer-input-group
        max-width: 500px
        margin-bottom: 40px
    .contacts_list
        max-width: 785px
    .teacher-blue-btn
        width: 202px
        height: 64px
        font-size: 20px
        margin-top: 50px
    div.custom_checkbox
        label
            max-width: 777px
            font-size: 18px