.teacher-control-balance-history
    &__block
        box-shadow: 0px 22px 145px rgba(157, 160, 184, 0.1), 0px 2.75474px 18.1562px rgba(151, 156, 193, 0.07)
        border-radius: 20px
        padding: 30px 40px 40px 40px 
        display: flex
        flex-direction: column
        margin-bottom: 40px
        max-height: 500px
        &-headline
            display: flex
            margin-bottom: 10px
        &-col
            &--left
                flex: 0 0 17%
            &--left-middle
                flex: 0 0 24.5%
            &--right-middle
                flex: 0 0 36.5%
            &--right
                flex: 0 0 20%
    &__row
        display: flex
        align-items: flex-start
        border-bottom: 1px dashed #DBDBDC !important
        padding-bottom: 17px !important
        padding-top: 19px !important
        &--first
            padding-top: 0 !important
        &:last-child
            border-bottom: none
            padding-bottom: 0
