<!--#include file="inc/inc-header.html"-->
<main>
  <section> 
    <div class="container"> 
      <div class="teacher-control teacher-control-message">
        <div class="teacher-control__nav">
          <div class="teacher-control__header"> 
            <div class="teacher-control__header-img"> <img src="img/teacher-control/teacher-avatar.png" alt=""/></div>
            <h2 class="teacher-control__header-name">Приходько<br/>Владимир</h2>
          </div>
          <nav class="teacher-control__nav-block"> 
            <ul class="teacher-control__nav-list">
              <li class="teacher-control__nav-list-item"><a class="teacher-control__nav-list-item-link teacher-control__nav-list-item-link--active" href="#">Личные данные</a></li>
              <li class="teacher-control__nav-list-item"><a class="teacher-control__nav-list-item-link" href="#">Мои курсы</a></li>
              <li class="teacher-control__nav-list-item"><a class="teacher-control__nav-list-item-link" href="#">Избранное</a></li>
              <li class="teacher-control__nav-list-item"><a class="teacher-control__nav-list-item-link" href="#">Баланс</a></li>
              <li class="teacher-control__nav-list-item"><a class="teacher-control__nav-list-item-link" href="#">Сообщения</a></li>
              <li class="teacher-control__nav-list-item"><a class="teacher-control__nav-list-item-link" href="#">Справка и поддержка</a></li>
              <li class="teacher-control__nav-list-item"><a class="teacher-control__nav-list-item-link" href="#">Безопасность</a></li>
              <li class="teacher-control__nav-list-item"><a class="teacher-control__nav-list-item-link" href="#">Выйти</a></li>
            </ul>
          </nav>
        </div>
        <div class="teacher-control__content">
          <div class="teacher-control-message__header"> 
            <h1 class="teacher-block-title">Сообщения</h1>
          </div>
          <div class="teacher-control-message__block" id="message"> 
            <div class="teacher-control-message__block-headline"> 
              <div class="teacher-control-message__block-sender"> <span class="teacher-grey-text">От кого</span>
                <div class="teacher-control-message__avatar-block">
                  <div class="teacher-control-message__avatar-img"> <img src="img/examples/Ellipse-18.png" alt=""/></div><span class="teacher-black-text-m">Денис Грушевский</span>
                </div>
              </div>
              <div class="teacher-control-message__date">
                <div class="teacher-control-message__date-full teacher-grey-text">12.10.2020 </div><span class="teacher-grey-text teacher-control-message__date-divider">в  </span>
                <div class="teacher-control-message__date-time teacher-grey-text">23:00</div>
              </div>
            </div>
            <div class="teacher-control-message__block-topic-message"><span class="teacher-grey-text teacher-control-message__block-topic-message__theme">Тема</span><span class="teacher-black-text-r teacher-control-message__block-topic-message__theme-name">HTML5, CSS и JavaScript для начинающих</span>
              <p class="teacher-black-text-s teacher-control-message__block-topic-message__text">У меня есть вопрос по поводу порядка прохождения занятий в курсе. Я бы сказал, что необходимо изменить порядок уроков 2, 7 и 11, так как они затрагивают похожую тематику. Возможно это было сделано с умыслом повторения освоенного материала, но как по мне - это мешает постепенному прохождению курса. В прикрепленном файле можно посмотреть мой вариант прохождения данного курса. Спасибо.</p>
            </div>
            <div class="teacher-control-message__block-response">
              <div class="ui-textarea-scrolled">
                <textarea placeholder="Введите сообщение" :maxlength="maxlength" v-model="message" @focus="isEmoji = false" rows="5"></textarea>
              </div>
              
              <div class="teacher-control-message-emoji" v-if="isEmoji">
                <span
                  v-for="(item,index) in emojies"
                  :key="index"
                  @click.prevent="pasteEmoji(item)"
                  class="emoji-item"
                >{{item}}</span>
              </div>
              <div class="teacher-control-message__block-response__controls">
                <div class="teacher-control-message__block-response__controls-icons"> 
                  <div class="teacher-control-message__block-response__controls-icons__img" @click.prevent="showEmoji"><img src="img/icons/control-smile.svg" alt=""/></div>
                  <div class="teacher-control-message__block-response__controls-icons__img">
                    <label for="teacherResponseUpload"> 
                      <input type="file" name="teacherResponseUpload" id="teacherResponseUpload" @change="chooseFile"/><img src="img/icons/control-file.svg" alt=""/>
                    </label>
                  </div>
                </div>
                <div class="teacher-control-message__block-response__controls-counter"> 
                  <div class="teacher-control-message__block-response__controls-counter__current">{{message.length}}</div>
                  <div class="teacher-control-message__block-response__controls-counter__divider">/</div>
                  <div class="teacher-control-message__block-response__controls-counter__max">{{maxlength}}</div>
                </div>
              </div>
            </div>
            <div class="teacher-control-message__block-buttons"> <a class="teacher-grey-btn" href="#" @click.prevent="deleteMessage">Удалить</a><a class="teacher-blue-btn" href="#" click.prevent="sendMessage">Ответить</a></div>
          </div>

          <script>
            function initVueMessage (id) {
              return new Vue({
                el: id,
                data: {
                  maxlength: 1000,
                  message: '',
                  isEmoji: false,
                  file: null
                },
                methods: {
                  showEmoji() {
                    this.isEmoji = !this.isEmoji
                  },
                  pasteEmoji(emoji) {
                    this.message += emoji
                  },
                  deleteMessage() {
                    //хз, что тут должно быть:)
                  },
                  chooseFile(e) {
                    e.target.files && e.target.files[0]
                      ? this.file = e.target.files[0]
                      : this.file = null
                  },
                  async sendMessage() {
                    const formData = new FormData();
                    formData.append('message', this.message)
                    if (this.file) {
                      formData.append('file', this.file)
                    }
                    //отправляем данные
                    // await fetch('url',{})
                  }
                },
                computed: {
                  emojies: function(){
                    return `😀,😁,😂,😃,😄,🤣,😅,😆,😇,😉,😊,🙂,🙃,😋,😌,😍,😘,😗,😜,🤑,😎,🤓,🤔,🤥,😠,😡,😬,😖,😫,😩,😤,😱,😨,😰,😪,😥,😭,😷,🤢,🤧,😴,😈,👿,👏,🤝,👍,👎,🤞,🤘,👌,💪`.split(',')
                  }
                },
              })
            }

            document.addEventListener('DOMContentLoaded',function(){
              const VUE_message = initVueMessage('#message');
            })
          </script>
        </div>
      </div>
    </div>
  </section>
</main>
<!--#include file="inc/inc-footer.html"-->