<!--#include file="inc/inc-header.html"-->
<main>
<section> 
  <div class="container"> 
    <div class="teacher-control teacher-control-add-course">
      <div class="teacher-control__nav">
        <div class="teacher-control__header"> 
          <div class="teacher-control__header-img"> <img src="img/teacher-control/teacher-avatar.png" alt=""/></div>
          <h2 class="teacher-control__header-name">Приходько<br/>Владимир</h2>
        </div>
        <nav class="teacher-control__nav-block"> 
          <ul class="teacher-control__nav-list">
            <li class="teacher-control__nav-list-item"><a class="teacher-control__nav-list-item-link teacher-control__nav-list-item-link--active" href="#">Личные данные</a></li>
            <li class="teacher-control__nav-list-item"><a class="teacher-control__nav-list-item-link" href="#">Мои курсы</a></li>
            <li class="teacher-control__nav-list-item"><a class="teacher-control__nav-list-item-link" href="#">Избранное</a></li>
            <li class="teacher-control__nav-list-item"><a class="teacher-control__nav-list-item-link" href="#">Баланс</a></li>
            <li class="teacher-control__nav-list-item"><a class="teacher-control__nav-list-item-link" href="#">Сообщения</a></li>
            <li class="teacher-control__nav-list-item"><a class="teacher-control__nav-list-item-link" href="#">Справка и поддержка</a></li>
            <li class="teacher-control__nav-list-item"><a class="teacher-control__nav-list-item-link" href="#">Безопасность</a></li>
            <li class="teacher-control__nav-list-item"><a class="teacher-control__nav-list-item-link" href="#">Выйти</a></li>
          </ul>
        </nav>
      </div>
      <div class="teacher-control__content">  
        <h2 class="teacher-control__personal-title">Английский для начинающих</h2>
        <p class="teacher-control__header-text">Создавайте темы, занятия, вопросы и ответы на них. Не забывайте про ограничения: размер загружаемых картинок не может быть более 5 Мб, размер загружаемого видео не может быть более 50 Мб. В случае необходимости используйте электронные хранилища данных (Google drive...). Для выбора правильных вариантов ответа, поставьте галочку напротив них</p><a class="ui-btn popup-with-form teacher-control__add-topic" href="#add-topic-modal">Создать тему </a>
        <div class="materials">
          <div class="materials_group act">
            <div class="materials_group_header">
              <div class="d_flex">
                <div class="materials_group_title"><span>Введение</span></div>
              </div>
              <div class="count"> 
                <button class="teacher-control__add-course-teachers__btn">Редактировать</button>
              </div>
            </div>
            <div class="materials_group_body">
              <ul class="materials_list">
                <li>
                  <div class="d_flex">
                    <div class="material_name">
                      <picture><img src="img/icons/Document.svg"/>
                      </picture><span>Present Simple Настоящее Простое</span>
                    </div>
                  </div>
                  <div class="time">02:35<img src="img/icons/Edit.svg" alt=""/></div>
                </li>
                <li>
                  <div class="d_flex">
                    <div class="material_name">
                      <picture><img src="img/icons/approval.svg"/>
                      </picture><span>Present Simple вопросы и отрицания</span>
                    </div>
                  </div>
                  <div class="time">02:35<img src="img/icons/Edit.svg" alt=""/></div>
                </li>
                <li>
                  <div class="d_flex">
                    <div class="material_name">
                      <picture><img src="img/icons/play-button.svg"/>
                      </picture><span>This That These Those указательные местоимения</span>
                    </div>
                  </div>
                  <div class="time">02:35<img src="img/icons/Edit.svg" alt=""/></div>
                </li>
                <li>
                  <div class="d_flex">
                    <div class="material_name">
                      <picture><img src="img/icons/approval.svg"/>
                      </picture><span>Еще немного о Present Simple</span>
                    </div>
                  </div>
                  <div class="time">02:35<img src="img/icons/Edit.svg" alt=""/></div>
                </li>
                <li>
                  <div class="d_flex">
                    <div class="material_name">
                      <picture><img src="img/icons/Document.svg"/>
                      </picture><span>Предлоги и Союзы</span>
                    </div>
                  </div>
                  <div class="time">02:35<img src="img/icons/Edit.svg" alt=""/></div>
                </li>
              </ul>
              <ul class="materials_list">
                <li> 
                  <div class="d_flex">
                    <div class="material_name">
                      <button class="teacher-control__add-course-teachers__btn popup-with-form" href="#teacher-control-create-lesson">Создать занятие</button>
                    </div>
                  </div>
                  <div class="time"> 
                    <button class="teacher-control__add-course-teachers__btn popup-with-test" href="#teacher-control-create-test">Создать тестирование</button>
                  </div>
                </li>
              </ul>
            </div>
          </div>
          <div class="materials_group">
            <div class="materials_group_header">
              <div class="d_flex">
                <div class="materials_group_title"><span>Произношение</span></div>
              </div>
            </div>
            <div class="materials_group_body">
              <ul class="materials_list">
                <li>
                  <div class="d_flex">
                    <div class="material_name">
                      <button class="teacher-control__add-course-teachers__btn popup-with-form" href="#teacher-control-create-lesson">Создать занятие</button>
                    </div>
                  </div>
                  <div class="time"> 
                    <button class="teacher-control__add-course-teachers__btn popup-with-test" href="#teacher-control-create-test">Создать тестирование</button>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="teacher-control__add-topic--icon"> 
          <button class="teacher-control__add-course-teachers__btn popup-with-form" href="#add-topic-modal">Создать тему</button>
        </div>
        <div class="teacher-control__material-control-group">
          <button class="teacher-control__return-btn ui-btn ui-btn-gray">Назад</button><a class="ui-btn" href="#">Создать курс</a>
        </div>
      </div>
    </div>
  </div>
</section>


<div class="modal_window" id="add-topic-modal"><button title="Close (Esc)" type="button" class="mfp-close">×</button>
  <h1>Создание темы</h1>
  <form action="#">
    <div class="input-group"> 
      <input type="text" placeholder="Название темы" name="teacherControlAddTopic" class="ui-input ui-input-block"/>
    </div>
    <button class="ui-btn ui-btn-block">Создать тему</button>
  </form>
</div>

<div class="modal_window" id="teacher-control-create-lesson">
  <button class="mfp-close" title="Close (Esc)" type="button">×</button>
  <h1>Создание занятия</h1>
  <form action="#"> 
    <div class="input-group"> 
      <input type="text" placeholder="Название занятия" name="teacherControlAddTopic"/>
    </div>
    <div class="input-group"> 
      <label for="create-lesson-area">Описание занятия</label>
      <textarea id="create-lesson-area" name="create-lesson-area"></textarea>
    </div>
    <div class="file-input-group">
      <label for="create-lesson-area-file-upload">
        <div class="file-input-group__img"> <img src="img/icons/folder.svg" alt=""/></div>
        <p><span>Нажмите сюда</span> - чтобы выбрать файлы или <br/>перетащите их в выделенную область</p>
        <input type="file" id="create-lesson-area-file-upload" name="create-lesson-area-file-upload" accept=".jpg,.doc,.mp4" />
      </label>
    </div><span class="file-input-group-subtitle">
       Файлы должны быть в форматах: .doc, .jpg, .mp4 </span>
    <button class="btn btn_blue">Создать занятие</button>
  </form>
</div>

<div class="modal_window" id="teacher-control-create-test">
  <div class="container" id="modal_create_test">
    <div class="create-test-modal__body">
      <h1>Создание теста</h1>

      <div class="create-test-modal__header"> 
        <p class="create-test-modal__header-topic">Тема:  <span>Название темы</span></p>
        <p class="create-test-modal__header-course">Курс:  <span>Название курса</span></p>
      </div>

      <div class="create-test-modal__content"> 
        
        <h3>Тест</h3>
        <div class="create-test-modal__headline-block"> 
          <div class="create-test-modal__input-group"> 
            <input type="text" placeholder="Введите название теста" v-model="testTitle" class="ui-input ui-input-block"/>
          </div>
          <div class="create-test-modal__required-answers"><span>Количество правильных ответов для зачета:</span>
            <input type="text" class="ui-input create-test-modal__req-answers" v-model="testCorrectAnswers">
          </div>
        </div>

        <div class="create-test-modal__col-name">
          <div class="row">
            <div class="col-6"><span>Список вопросов</span></div>
            <div class="col-6"><span>Варианты ответов</span></div>
          </div>
        </div>


        
        <div class="create-test-modal__row"
          v-for="(item,index) in questions"
          :key="index"
        >
          <div class="row">
            <div class="col-md-6">
              <div class="create-test-modal__col">
                <div class="create-test-modal__col-item">
                  <div class="create-test-modal-counter">{{index+1}}</div>
                  <div class="create-test-modal__input-group-area"> 
                    <textarea placeholder="Вопрос" rows="3" class="ui-input ui-input-block" v-model="item.question"></textarea>
                  </div>
                  <button class="create-test-modal__garbage" @click.prevent="removeQuestion(index)"></button>
                </div>
              </div>
            </div>
            

            <div class="col-md-6">
              <div class="create-test-modal__col">
                <div class="create-test-modal__col-item"
                  v-for="(answer,idx) in item.answers"
                  :key="idx+'str'"
                >
                  <div class="create-test-modal-counter">{{index+1}}.{{idx+1}}</div>
                  <div class="create-test-modal__input-group"> 
                    <input type="text" class="ui-input ui-input-block" :placeholder="'Вариант ответа '+(index+1)+'.'+(idx+1)" v-model="item.answers[idx]"/>
                  </div>
                  <button class="create-test-modal__garbage" @click.prevent="removeAnswer(index,idx)"></button>
                </div>

                <button class="create-test-modal__add-one" @click.prevent="addAnswer(index)">Добавить ещё</button>
              </div>
            </div>
          </div><!--.row-->
        </div><!--.question-->

        

        <div class="create-test-modal__row">
          <div class="row">
            <div class="col-md-5">
              <button class="create-test-modal__add-one create-test-modal__add-one--last" @click.prevent="addQuestion">Добавить вопрос</button>
            </div>
            <div class="col-md-7">
              <div class="create-test-modal__submit-btns">
                <button class="ui-btn" @click.prevent="saveTest">Применить</button>
                <button class="ui-btn" @click.prevent="saveTest('yes')">Завершить</button>
              </div>
            </div>
          </div><!--.row-->
        </div>

      </div><!--.content-->

      <div class="create-test-modal__footer">
        <a class="ui-btn ui-btn-gray" href="#" @click.prevent="resetForm">Отменить</a>
        <a class="ui-btn mfp-custom-close" href="#">Назад к курсу</a></div>
    </div>
  </div>

  <script>
    function initVueTest(id) {
      return example = new Vue({
        el: id,
        data: {
          testTitle: '',
          testCorrectAnswers: '',
          questions: [
            {question: '', answers: ['','']},
            {question: '', answers: ['','']}
          ]
        },
        methods: {
          addQuestion() {
            this.questions.push({question: '', answers: ['','']})
          },
          removeQuestion(id) {
            this.questions.splice(id,1)
          },
          addAnswer(id) {
            this.questions[id].answers.push('')
          },
          removeAnswer(questionID,answerID) {
            this.questions[questionID].answers.splice(answerID,1)
          },
          async saveTest(isClose) {
            const fetchData = {
              title: this.testTitle,
              correctAnswers: this.testCorrectAnswers,
              questions: this.questions
            }
            console.log(fetchData)
            // await fetch('url', {
            //   method: 'POST',
            //   headers: {
            //     'Content-Type': 'application/json;charset=utf-8'
            //   },
            //   body: fetchData
            // )
            if(isClose && isClose === 'yes') {
              FARBA.customMagnificClose()
            }
          },
          resetForm() {
            this.questions = [
              {question: '', answers: ['','']},
              {question: '', answers: ['','']}
            ]
          }
        }
      })
    }

    document.addEventListener('DOMContentLoaded',function(){
      const VUE_modal_test = initVueTest('#modal_create_test');
    })
  </script>
</div>
</main>
<!--#include file="inc/inc-footer.html"-->