<!--#include file="inc/inc-header.html"-->
<main>
<section> 
  <div class="container"> 
    <div class="teacher-control teacher-control-add-course">
      <div class="teacher-control__nav">
        <div class="teacher-control__header"> 
          <div class="teacher-control__header-img"> <img src="img/teacher-control/teacher-avatar.png" alt=""/></div>
          <h2 class="teacher-control__header-name">Приходько<br/>Владимир</h2>
        </div>
        <nav class="teacher-control__nav-block"> 
          <ul class="teacher-control__nav-list">
            <li class="teacher-control__nav-list-item"><a class="teacher-control__nav-list-item-link teacher-control__nav-list-item-link--active" href="#">Личные данные</a></li>
            <li class="teacher-control__nav-list-item"><a class="teacher-control__nav-list-item-link" href="#">Мои курсы</a></li>
            <li class="teacher-control__nav-list-item"><a class="teacher-control__nav-list-item-link" href="#">Избранное</a></li>
            <li class="teacher-control__nav-list-item"><a class="teacher-control__nav-list-item-link" href="#">Баланс</a></li>
            <li class="teacher-control__nav-list-item"><a class="teacher-control__nav-list-item-link" href="#">Сообщения</a></li>
            <li class="teacher-control__nav-list-item"><a class="teacher-control__nav-list-item-link" href="#">Справка и поддержка</a></li>
            <li class="teacher-control__nav-list-item"><a class="teacher-control__nav-list-item-link" href="#">Безопасность</a></li>
            <li class="teacher-control__nav-list-item"><a class="teacher-control__nav-list-item-link" href="#">Выйти</a></li>
          </ul>
        </nav>
      </div>
      <div class="teacher-control__content">
        <div id="create_course">
          <h2 class="teacher-control__personal-title">Английский для начинающих</h2>
          <p class="teacher-control__header-text">Создавайте темы, занятия, вопросы и ответы на них. Не забывайте про ограничения: размер загружаемых картинок не может быть более 5 Мб, размер загружаемого видео не может быть более 50 Мб. В случае необходимости используйте электронные хранилища данных (Google drive...). Для выбора правильных вариантов ответа, поставьте галочку напротив них</p>

          <a href="javascript:void(0)" class="ui-btn teacher-control__add-topic" @click.prevent="openPopup('addTheme')">Создать тему</a>

          <div class="materials">
            <div class="materials_group act"
              v-for="(theme, index) in themes"
              v-key="index"
            >
              <div class="materials_group_header">
                <div class="d_flex">
                  <div class="materials_group_title"><span>{{theme.title}}</span></div>
                </div>
                <div class="count materials_group_header_actions"> 
                  <button @click.prevent="openPopup('editTheme',index)" class="teacher-control__add-course-teachers__btn">Редактировать</button>
                  <a href="#" title="Удалить тему" @click.prevent="removeTheme(index)" class="materials_remove_theme"></a>
                </div>
              </div>

              <div class="materials_group_body materials_group_create">
                <div class="course-lessons"
                  v-if="theme.lessons.length"
                >
                  <div
                    v-for="(lesson, idx) in theme.lessons"
                    v-key="idx"
                    class="course-lesson"
                  >
                    
                    <div class="course-lesson-name">
                      <i class="course-lesson-icon" :class="[lesson.type]"></i>
                      <span>{{lesson.title}}</span>
                    </div>
                    
                    <div class="course-lesson-right">{{lesson.time}}
                      <img class="course-lesson-edit" src="img/icons/Edit.svg" alt=""/  @click.prevent="openPopup('editLesson',index,idx)">
                      <a href="#" @click.prevent="removeLesson(index,idx)" class="course-lesson-remove"></a>
                    </div>
                  </div>
                </div>

                <div class="course-tests" v-if="theme.test">
                  <div class="course-test">
                    
                    <div class="course-test-name">
                      <i class="course-test-icon test"></i>
                      <span>{{theme.test.testTitle}}</span>
                    </div>
                    
                    <div class="course-test-right">
                      {{theme.test.questions.length}} вопроса 
                      <img class="course-test-edit" src="img/icons/Edit.svg" alt="редактировать тест"  @click.prevent="editTest(index)"/>
                      <a href="#" @click.prevent="removeTest(index)" class="course-test-remove"></a>
                    </div>
                  </div>
                </div>

                <div class="materials_actions">
                  <button class="teacher-control__add-course-teachers__btn" @click.prevent="openPopup('addLesson',index)">Создать занятие</button>
                  
                  <button class="teacher-control__add-course-teachers__btn " v-if="!theme.test" @click.prevent="addTest(index, theme.title)">Создать тестирование</button>
                </div>
              </div>

            </div><!--.group-->

          </div>
          <div class="teacher-control__add-topic--icon"> 
            <button class="teacher-control__add-course-teachers__btn" @click.prevent="openPopup('addTheme')">Создать тему</button>
          </div>
          <div class="teacher-control__material-control-group">
            <button class="teacher-control__return-btn ui-btn ui-btn-gray">Назад</button>
            <a class="ui-btn" href="javascript:void(0)" @click.prevent="saveCourse">Создать курс</a>
          </div>


          <div class="create-course-popups">
            <div class="mfp-bg" v-if="isPopup" @click.prevent="closeCoursePopups"></div>
            <div class="mfp-wrap" v-if="isPopup">
              <div class="mfp-container mfp-inline-holder">
                <div class="mfp-content">

                  <!-- создание/редактирование тем -->
                  <div class="modal_window add-topic-modal" v-if="addThemePopup || editThemePopup">
                    <button type="button" class="mfp-close" @click.prevent="closeCoursePopups"></button>
                    <h1>{{addThemePopup ? 'Создание темы' : 'Редактирование темы'}}</h1>
                    <form action="#">
                      <div class="ui-field"> 
                        <input type="text" placeholder="Название темы" name="teacherControlAddTopic" class="ui-input ui-input-block" v-model="tempTheme.title"/>
                      </div>
                      <button v-if="addThemePopup" class="ui-btn ui-btn-block" @click.prevent="addTheme">Создать тему</button>
                      <button class="ui-btn ui-btn-block" @click.prevent="editTheme" v-else>Редактировать</button>
                    </form>
                  </div>

                  <!-- создание/редактирование занятий -->
                  <div class="modal_window teacher-control-create-lesson" v-if="addLessonPopup || editLessonPopup">
                    <button class="mfp-close" title="Close (Esc)" @click.prevent="closeCoursePopups">×</button>
                    <h1>{{addLessonPopup ? 'Создание занятия' : 'Редактирование занятия'}}</h1>
                    <form action="#"> 
                      <div class="ui-field"> 
                        <input type="text" class="ui-input" placeholder="Название занятия" name="teacherControlAddTopic" v-model="tempLesson.title"/>
                      </div>
                      <div class="ui-field"> 
                        <label class="ui-label" for="create-lesson-area">Описание занятия</label>
                        <textarea id="create-lesson-area" class="ui-input" rows="6" name="create-lesson-area" v-model="tempLesson.description"></textarea>
                      </div>
                      <div class="file-input-group">
                        <label for="create-lesson-area-file-upload">
                          <div class="file-input-group__img" v-if="!tempLesson.files"> <img src="img/icons/folder.svg" alt=""/></div>
                          <div class="file-vue-preview" v-else>Выбрано: {{tempLesson.files.name}}, Размер: {{((tempLesson.files.size)/1024/1024).toFixed(2)}} Мб</div>
                          <p><span>Нажмите сюда</span> - чтобы выбрать файлы или <br/>перетащите их в выделенную область</p>
                          <input type="file" id="create-lesson-area-file-upload" name="create-lesson-area-file-upload" accept=".jpg,.jpeg,.png,.doc,.docx,.mp4,.webm" @change="chooseFile" />
                        </label>
                      </div><span class="file-input-group-subtitle">
                         Файлы должны быть в форматах: .jpg, .jpeg,.png, .doc,.docx, .mp4, .webm</span>

                      <button class="ui-btn ui-btn-block" @click.prevent="addLesson" v-if="addLessonPopup">Создать занятие</button>
                      <button class="ui-btn ui-btn-block" @click.prevent="editLesson" v-else>Редактировать</button>
                    </form>
                  </div>


                </div>
              </div>
            </div><!--.mfp-wrap-->
          </div>

        </div><!-- #create_course -->
      </div>
    </div>
  </div>
</section>


<script>
  function initVueCourse(id) {
    return new Vue({
      el: id,
      data: {
        coursName: 'Английский для начинающих',

        addThemePopup: false,
        editThemePopup: false,
        addLessonPopup: false,
        editLessonPopup: false,

        //массив тем с занятиями и тестами, это поле отправляем на бэк при сохранении
        themes: [
          {title: 'Введение', lessons: []}
        ],

        //временное поле для создания/обновления тем
        tempTheme: {
          title: '',
          index: ''
        },

        //временное поле для создания/обновления занятий
        tempLesson: {
          title: '',
          description: '',
          files: '',
          type: '',
          index: ''
        }
      },
      computed: {
        //чекаем есть ли открытый попап
        isPopup() {
          return this.addThemePopup || this.editThemePopup || this.addLessonPopup || this.editLessonPopup
        }
      },
      methods: {
        //создаем тему
        addTheme() {
          if (this.tempTheme.title.trim().length) {
            this.themes.push({title: this.tempTheme.title.trim(), lessons: []})

            //если нужно сразу сохранить введенное значение
            //fetch('url', {
            //   method: 'POST',
            //   headers: {
            //     'Content-Type': 'application/json;charset=utf-8'
            //   },
            //   body: this.tempTheme.title.trim()
            // )
            
            
            //закрываем попапы, очищаем временные данные
            this.closeCoursePopups()
            this.clearTempData()
          }
        },

        //редактируем тему
        editTheme() {
          //меняем данные
          this.themes[this.tempTheme.index].title = this.tempTheme.title

          //закрываем попапы, очищаем временные данные
          this.closeCoursePopups()
          this.clearTempData()
        },

        removeTheme(index) {
          this.themes.splice(index, 1)
        },

        //создаем занятие
        addLesson() {
          //добавляем данные
          const lesson = {}
          lesson.title = this.tempLesson.title
          lesson.description = this.tempLesson.description
          lesson.files = this.tempLesson.files
          lesson.type = this.tempLesson.type
          
          this.themes[this.tempLesson.index].lessons.push(lesson)

          //если нужно сразу сохранить введенное значение
          //fetch('url', {
          //   method: 'POST',
          //   headers: {
          //     'Content-Type': 'application/json;charset=utf-8'
          //   },
          //   body: данные
          // )

          //закрываем попапы, очищаем временные данные
          this.closeCoursePopups()
          this.clearTempData()
        },

        //редактируем занятие
        editLesson() {
          const lesson = {}
          lesson.title = this.tempLesson.title
          lesson.description = this.tempLesson.description
          lesson.files = this.tempLesson.files
          lesson.type = this.tempLesson.type

          //изменяем данные
          this.themes[this.tempTheme.index].lessons.splice(this.tempLesson.index, 1, lesson)

          //закрываем попапы, очищаем временные данные
          this.closeCoursePopups()
          this.clearTempData()
        },

        //удаляем занятие
        removeLesson(themeIndex, lessonIndex) {
          this.themes[themeIndex].lessons.splice(lessonIndex, 1)
        },

        addTest(themeIndex, themeTitle) {
          this.tempTheme.index = themeIndex
          
          //програмно открываем попап
          $.magnificPopup.open({
            items: {
              src: '#teacher-control-create-test'
            },
            type: 'inline'
          });

          //подготавливаем объект данных для передачи в дочерний компонент
          const data = {
            testTheme: themeTitle,
            testCourse: this.coursName
          }

          //чистим дочернюю форму
          VUE_modal_test.resetForm()
          //передаем данные в дочерний компонент
          VUE_modal_test.parseDataFromParent(data)
        },

        editTest(themeIndex) {
          this.tempTheme.index = themeIndex

          //програмно открываем попап
          $.magnificPopup.open({
            items: {
              src: '#teacher-control-create-test'
            },
            type: 'inline'
          });

          
          //передаем данные в дочерний компонент
          VUE_modal_test.parseDataFromParent(this.themes[themeIndex].test)
        },

        //удаление теста
        removeTest(themeIndex) {
          const tempTheme = this.themes[themeIndex]
          delete tempTheme.test
          this.themes.splice(themeIndex, 1, tempTheme)
        },

        openPopup(popupType, themeIndex, lessonIndex) {
          document.querySelector('html').classList.add('no-scroll')
          switch (popupType) {
            case 'addTheme':
              this.addThemePopup = true
              break

            case 'editTheme':
              this.editThemePopup = true
              this.tempTheme.title = this.themes[themeIndex].title
              this.tempTheme.index = themeIndex
              break

            case 'addLesson':
              this.addLessonPopup = true
              this.tempLesson.index = themeIndex
              break

            case 'editLesson':
              this.editLessonPopup = true
              this.tempTheme.index = themeIndex
              this.tempLesson.index = lessonIndex

              this.tempLesson.title = this.themes[themeIndex].lessons[lessonIndex].title
              this.tempLesson.description = this.themes[themeIndex].lessons[lessonIndex].description
              this.tempLesson.files = this.themes[themeIndex].lessons[lessonIndex].files
          }
        },

        closeCoursePopups() {
          document.querySelector('html').classList.remove('no-scroll')

          this.addThemePopup = false
          this.editThemePopup = false
          this.addLessonPopup = false
          this.editLessonPopup = false
        },

        clearTempData() {
          this.tempTheme.title = ''
          this.tempTheme.index = ''

          this.tempLesson.title = ''
          this.tempLesson.description = ''
          this.tempLesson.files = ''
          this.tempLesson.type = ''
          this.tempLesson.index = ''
        },

        chooseFile(event) {
          const files = event.target.files
          if (files && files[0]) {
            const type = files[0].type.split('/')[0]

            this.tempLesson.type = type
            this.tempLesson.files = files[0]
          }
        },

        saveCourse() {
          // const formData = new FormData()
          console.log(this.themes)
          //fetch('url', {
          //   method: 'POST',
          //   headers: {
          //     'Content-Type': 'application/json;charset=utf-8'
          //   },
          //   body: this.themes
          // )

        }
      }
    })
  }
  let VUE_course;
  document.addEventListener('DOMContentLoaded',function(){
    VUE_course = initVueCourse('#create_course')
  })
</script>


<div class="modal_window" id="teacher-control-create-test">
  <div class="container" id="modal_create_test">
    <div class="create-test-modal__body">
      <h1>Создание теста</h1>

      <div class="create-test-modal__header"> 
        <p class="create-test-modal__header-topic">Тема:  <span>{{testTheme != '' ? testTheme : 'Название темы'}}</span></p>
        <p class="create-test-modal__header-course">Курс: <span>{{testCourse != '' ? testCourse : 'Название курса'}}</span></p>
      </div>

      <div class="create-test-modal__content"> 
        
        <h3>Тест</h3>
        <div class="create-test-modal__headline-block"> 
          <div class="create-test-modal__input-group"> 
            <input type="text" placeholder="Введите название теста" v-model="testTitle" class="ui-input ui-input-block"/>
          </div>
          <div class="create-test-modal__required-answers"><span>Количество правильных ответов для зачета:</span>
            <input type="text" class="ui-input create-test-modal__req-answers" v-model="testCorrectAnswers">
          </div>
        </div>

        <div class="create-test-modal__col-name">
          <div class="row">
            <div class="col-6"><span>Список вопросов</span></div>
            <div class="col-6"><span>Варианты ответов</span></div>
          </div>
        </div>


        
        <div class="create-test-modal__row"
          v-for="(item,index) in questions"
          :key="index"
        >
          <div class="create-test-modal-number-error" v-if="item.numbersError">{{item.numbersError}}</div>
          <div class="row">
            <div class="col-md-6">
              <div class="create-test-modal__col">
                <div class="create-test-modal__col-item">
                  <div class="create-test-modal-counter box">
                    <input type="text" class="ui-input" v-model="item.number" @input="validateQuestionNumbers">
                  </div>
                  <div class="create-test-modal__input-group-area"> 
                    <textarea placeholder="Вопрос" rows="3" class="ui-input ui-input-block" v-model.number="item.question"></textarea>
                  </div>
                  <button class="create-test-modal__garbage" @click.prevent="removeQuestion(index)"></button>
                </div>
              </div>
            </div>
            

            <div class="col-md-6">
              <div class="create-test-modal__col">
                <div class="create-test-modal__col-item"
                  v-for="(answer,idx) in item.answers"
                  :key="idx+'str'"
                >
                  <div class="create-test-modal-counter">{{item.number}}.{{idx+1}}</div>
                  <div class="create-test-modal__input-group"> 
                    <input type="text" class="ui-input ui-input-block" :placeholder="'Вариант ответа '+(item.number)+'.'+(idx+1)" v-model="item.answers[idx]"/>
                    <label title="Правильный ответ" :for="'correct_answer_'+index+'_'+idx" class="create-test-modal-correct">
                      <input type="radio" :name="'correct_answer_'+index" :id="'correct_answer_'+index+'_'+idx" v-model="item.correctAnswer" :value="idx">
                      <i></i>
                    </label>
                  </div>
                  <button class="create-test-modal__garbage" @click.prevent="removeAnswer(index,idx)"></button>
                </div>

                <button class="create-test-modal__add-one" @click.prevent="addAnswer(index)">Добавить ещё</button>
              </div>
            </div>
          </div><!--.row-->
        </div><!--.question-->

        

        <div class="create-test-modal__row">
          <div class="row">
            <div class="col-md-5">
              <button class="create-test-modal__add-one create-test-modal__add-one--last" @click.prevent="addQuestion">Добавить вопрос</button>
            </div>
            <div class="col-md-7">
              <div class="create-test-modal__submit-btns">
                <button class="ui-btn" :disabled="!isValid" @click.prevent="saveTest">Применить</button>
                <button class="ui-btn" :disabled="!isValid" @click.prevent="saveTest('yes')">Завершить</button>
              </div>
            </div>
          </div><!--.row-->
        </div>

      </div><!--.content-->

      <div class="create-test-modal__footer">
        <a class="ui-btn ui-btn-gray" href="#" @click.prevent="resetForm">Отменить</a>
        <a class="ui-btn mfp-custom-close" href="#">Назад к курсу</a></div>
    </div>
  </div>

  <script>
    function initVueTest(id) {
      return example = new Vue({
        el: id,
        data: {
          testTitle: '',
          testCorrectAnswers: '',
          testTheme: '',
          testCourse: '',
          questions: [
            {question: '', number: 1, answers: ['',''], correctAnswer: ''},
            {question: '', number: 2, answers: ['',''], correctAnswer: ''}
          ],
          isValid: true
        },
        methods: {
          addQuestion() {
            const nextItem = this.questions.length + 1
            this.questions.push({question: '', number: nextItem, answers: ['','']})
          },
          removeQuestion(id) {
            this.questions.splice(id,1)
          },
          addAnswer(id) {
            this.questions[id].answers.push('')
          },
          removeAnswer(questionID,answerID) {
            this.questions[questionID].answers.splice(answerID,1)
          },
          async saveTest(isClose) {
            const fetchData = {
              testTitle: this.testTitle,
              testCorrectAnswers: this.testCorrectAnswers,
              questions: this.questions,
              testTheme: this.testTheme,
              testCourse: this.testCourse
            }
            console.log(fetchData)
            // await fetch('url', {
            //   method: 'POST',
            //   headers: {
            //     'Content-Type': 'application/json;charset=utf-8'
            //   },
            //   body: fetchData
            // )
            if(isClose && isClose === 'yes') {
              FARBA.customMagnificClose()
            }


            // передаем данные в родительский экземпляр
            const currentTheme = VUE_course.tempTheme.index
            Vue.set(VUE_course.themes[currentTheme], 'test', fetchData)
            this.resetForm()
          },
          resetForm() {
            this.testTitle = '',
            this.testCorrectAnswers = '',
            this.questions = [
              {question: '', number: 1, answers: ['',''], correctAnswer: ''},
              {question: '', number: 2, answers: ['',''], correctAnswer: ''}
            ]
          },
          parseDataFromParent(data) {
            const testTitle = data?.testTitle
            const testCorrectAnswers = data?.testCorrectAnswers
            const testTheme = data?.testTheme
            const testCourse = data?.testCourse
            const questions = data?.questions

            if (testTitle) {
              this.testTitle = testTitle
            }
            if (testCorrectAnswers) {
              this.testCorrectAnswers = testCorrectAnswers
            }
            if (testTheme) {
              this.testTheme = testTheme
            }
            if (testCourse) {
              this.testCourse = testCourse
            }
            if (questions) {
              this.questions = questions
            }
          },
          validateQuestionNumbers() {
            const _this = this
            function s() {
              const nonUniqueNumbers = []
              for (let i = 0; i < _this.questions.length; i++) {
                for (let j = 0; j < _this.questions.length; j++) {
                  if (i != j && _this.questions[i].number == _this.questions[j].number) {
                    nonUniqueNumbers.push(j);
                  }
                }
              }
              return nonUniqueNumbers
            }
            const repeats = s()

            this.questions.forEach(el => {
              delete el.numbersError
              this.isValid = true
            })

            repeats.forEach((el)=>  {
              this.questions[el].numbersError = 'Ошибка. Номера вопросов не могут повторяться'
              this.isValid = false
            })
          }
        }
      })
    }
    let VUE_modal_test;

    document.addEventListener('DOMContentLoaded',function(){
      VUE_modal_test = initVueTest('#modal_create_test');
    })
  </script>
</div>
</main>
<!--#include file="inc/inc-footer.html"-->